guitests/util/lib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:lib="http://dvnci/lib">
      
      
    <xsd:simpleType name="lib:expression" lib:validator="libutil.validator.expresssion">    
    </xsd:simpleType>
    
    <xsd:simpleType name="lib:taglist" lib:validator="libutil.validator.taglist">    
    </xsd:simpleType>
    
    <xsd:simpleType name="lib:tag" lib:validator="libutil.validator.tag">    
    </xsd:simpleType>
      
   
    

</xsd:schema>

