guitests/libs/main/mainlib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mlib="http://dvnci/mlib"
  xmlns:dvnlib="../dvnlib.xsl"
  xmlns:lib="http://dvnci/lib">
      
   
    <xsd:simpleType name="mlib:direction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="lr"></xsd:enumeration>
            <xsd:enumeration value="rl"></xsd:enumeration>
            <xsd:enumeration value="tb"></xsd:enumeration>
            <xsd:enumeration value="bt"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>   
    
    <xsd:simpleType name="mlib:alighn">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="left"></xsd:enumeration>
            <xsd:enumeration value="center"></xsd:enumeration>
            <xsd:enumeration value="right"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="mlib:gradienttype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="lr"></xsd:enumeration>
            <xsd:enumeration value="tb"></xsd:enumeration>
            <xsd:enumeration value="c"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="mlib:environment">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gaz"></xsd:enumeration>
            <xsd:enumeration value="water"></xsd:enumeration>
            <xsd:enumeration value="air"></xsd:enumeration>
            <xsd:enumeration value="stream"></xsd:enumeration>
            <xsd:enumeration value="oil"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>   
 
    
    <xsd:simpleType name="mlib:armaturatype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="motor"></xsd:enumeration>
            <xsd:enumeration value="motorD"></xsd:enumeration>
            <xsd:enumeration value="cvalve"></xsd:enumeration>
            <xsd:enumeration value="ovalve"></xsd:enumeration>
            <xsd:enumeration value="rvalve"></xsd:enumeration>
            <xsd:enumeration value="bolt"></xsd:enumeration>
            <xsd:enumeration value="simple"></xsd:enumeration>
            <xsd:enumeration value="regul"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="mlib:buttontype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="tumbler"></xsd:enumeration>
            <xsd:enumeration value="impulse"></xsd:enumeration>
            <xsd:enumeration value="unimpulse"></xsd:enumeration>
            <xsd:enumeration value="button"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="mlib:filtertype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="filter1"></xsd:enumeration>
            <xsd:enumeration value="filter2"></xsd:enumeration>
            <xsd:enumeration value="filter3"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="mlib:armatfiltertype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="filter"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="mlib:sensorevent">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="graph"></xsd:enumeration>
            <xsd:enumeration value="valueset"></xsd:enumeration>
            <xsd:enumeration value="non"></xsd:enumeration>
            <xsd:enumeration value=""></xsd:enumeration>
        </xsd:restriction>        
    </xsd:simpleType>
    
    
    <xsd:element name="mlib:armatura" type="armatura">
        <xsd:complexType name="motor">
            <dvnlib:creator name="mlib:armatura" hint="armatura">
                <mlib:armatura  x="" y="" height="50" width="50"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="type" type="mlib:armaturatype"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/>         
            <xsd:attribute name="header" type="mlib:string_or_number" default=""/>
            <xsd:attribute name="environment" type="mlib:environment" default=""/> 
            <xsd:attribute name="oncolor" type="mlib:color" default=""/>
            <xsd:attribute name="offcolor" type="mlib:color" default=""/>
            
            <xsd:attribute name="on" type="lib:expression" default=""/>
            <xsd:attribute name="off" type="lib:expression" default=""/>
            <xsd:attribute name="local" type="lib:expression" default=""/>
            <xsd:attribute name="auto" type="lib:expression" default=""/>
            <xsd:attribute name="ron" type="lib:tag" default=""/>
            <xsd:attribute name="roff" type="lib:tag" default=""/>
            <xsd:attribute name="rauto" type="lib:tag" default=""/>
            <xsd:attribute name="don" type="lib:expression" default=""/>
            <xsd:attribute name="doff" type="lib:expression" default=""/>
            <xsd:attribute name="control" type="lib:expression" default=""/>
            
            <xsd:attribute name="alarms" type="lib:taglist" default=""/>                      
            <xsd:attribute name="visible" type="lib:expression" default="true"/>
            
            <xsd:attribute name="rotate" type="mlib:number" default="0"/>
            
            <xsd:attribute name="debugfunc" type="xsd:string" default=""/>
            <xsd:attribute name="filter" type="mlib:armatfiltertype" default=""/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="mlib:rect" type="rect">
        <xsd:complexType name="rect">
            <dvnlib:creator name="mlib:rect"  hint="rect">
                <mlib:rect  x="" y="" height="50" width="200" stroke="#ddd" r="4" stroke-width="1" fill="#999" background="#333"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/>  
        
            <xsd:attribute name="direction" type="mlib:direction" default="toright"/>
            
            <xsd:attribute name="param" type="lib:expression" default=""/>
            <xsd:attribute name="alarms" type="lib:taglist" default=""/>

            <xsd:attribute name="gradient-type" type="mlib:gradienttype" default="0"/>
            <xsd:attribute name="environment" type="mlib:environment" default="black"/>
            <xsd:attribute name="color1" type="mlib:color" default=""/>
            <xsd:attribute name="color2" type="mlib:color" default=""/>  
            <xsd:attribute name="fillenvironment" type="mlib:environment" default="black"/>
            <xsd:attribute name="fillcolor1" type="mlib:color" default=""/>
            <xsd:attribute name="fillcolor2" type="mlib:color" default=""/>            
        
            <xsd:attribute name="stroke" type="mlib:color" default="black"/> 
            <xsd:attribute name="stroke-width" type="xsd:number" default="0"/> 
            <xsd:attribute name="r" type="xsd:number" default="0"/>
            <xsd:attribute name="visible" type="lib:expression" default="true"/>
            <xsd:attribute name="rotate" type="mlib:number" default="0"/> 
            
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="mlib:sensor" type="sensor">
        <xsd:complexType name="sensor">
            <dvnlib:creator name="mlib:sensor"  hint="sensor">
                <mlib:sensor  x="" y="" height="30" width="150" stroke="white" stroke-width="1" r="4"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/>  
            <xsd:attribute name="r" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="alighn" type="mlib:alighn" default=""/>
            <xsd:attribute name="stroke" type="mlib:color" default="black"/> 
            <xsd:attribute name="stroke-width" type="xsd:number" default="0"/>
            <xsd:attribute name="gradient-type" type="mlib:gradienttype" default="0"/>            
            <xsd:attribute name="environment" type="mlib:environment" default="black"/>
            <xsd:attribute name="color1" type="mlib:color" default=""/>
            <xsd:attribute name="color2" type="mlib:color" default=""/>
            
            <xsd:attribute name="sensorevent" type="mlib:sensorevent" default=""/>
            <xsd:attribute name="caption" type="xsd:string" default=""/>
            <xsd:attribute name="format" type="xsd:string" default=""/>
            <xsd:attribute name="param" type="lib:expression" default=""/>
            <xsd:attribute name="control" type="lib:expression" default=""/>
            <xsd:attribute name="disable" type="lib:expression" default=""/>
            <xsd:attribute name="visible" type="lib:expression" default="true"/>
            
            <xsd:attribute name="alarms" type="lib:taglist" default=""/>
            <xsd:attribute name="alarms-low" type="lib:taglist" default=""/> 
            <xsd:attribute name="alarms-high" type="lib:taglist" default=""/>
            
            <xsd:attribute name="fontcolor" type="xsd:string" default=""/>
            <xsd:attribute name="fontstyle" type="xsd:string" default=""/>
            <xsd:attribute name="rotate" type="mlib:number" default="0"/>
            
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="mlib:button" type="button">
        <xsd:complexType name="button">
            <dvnlib:creator name="mlib:button"  hint="button">
                <mlib:button  x="" y="" height="40" width="200" caption="caption"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/>  
            <xsd:attribute name="r" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="alighn" type="mlib:alighn" default=""/>
            <xsd:attribute name="type" type="mlib:buttontype" default=""/>
            
            <xsd:attribute name="caption" type="xsd:string" default=""/>
            <xsd:attribute name="color1" type="xsd:string" default=""/>
            <xsd:attribute name="color2" type="xsd:string" default=""/>
            <xsd:attribute name="fontstyle" type="xsd:string" default=""/>
            <xsd:attribute name="oncaption" type="xsd:string" default=""/>
            <xsd:attribute name="oncolor1" type="xsd:string" default=""/>
            <xsd:attribute name="oncolor2" type="xsd:string" default=""/>
            <xsd:attribute name="offfontstyle" type="xsd:string" default=""/>
            <xsd:attribute name="dsblcaption" type="xsd:string" default=""/>
            <xsd:attribute name="dsblcolor1" type="xsd:string" default=""/>
            <xsd:attribute name="dsblcolor2" type="xsd:string" default=""/>
            <xsd:attribute name="dsblfontstyle" type="xsd:string" default=""/>
            

            <xsd:attribute name="state" type="lib:expression" default=""/>          
            <xsd:attribute name="param" type="lib:expression" default=""/>
            <xsd:attribute name="disable" type="lib:expression" default=""/>
            <xsd:attribute name="visible" type="lib:expression" default="true"/>
            
            
            <xsd:attribute name="onclick"  type="dvnlib:event" default=""/>
            <xsd:attribute name="ondblclick" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmouseup" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmousedown" type="dvnlib:event" default=""/>
            
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="mlib:path" type="path">
        <xsd:complexType name="path">
            <dvnlib:creator name="mlib:path"  hint="path">
                <mlib:path  stroke-width="5" d=" M0,0 l 100,100"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/> 
            <xsd:attribute name="d" type="mlib:path" default=""/>
            <xsd:attribute name="on" type="lib:expression" default=""/>
            <xsd:attribute name="fill" type="mlib:color" default="white"/>       
            <xsd:attribute name="stroke" type="string_or_number" default="black"/> 
            <xsd:attribute name="off-stroke" type="string_or_number" default="black"/>
            <xsd:attribute name="stroke-width" type="xsd:number" default="0"/> 
            <xsd:attribute name="visible" type="mlib:string_or_number" default="true"/>
            <xsd:attribute name="filter" type="mlib:filtertype" default=""/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="mlib:alarmtable" type="alarmtable">
        <xsd:complexType name="alarmtable">
            <dvnlib:creator name="mlib:alarmtable"  hint="alarmtable">
                <mlib:alarmtable  x="" y="" height="100" width="400"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/> 
            <xsd:attribute name="fontstyle" type="mlib:string_or_number" default=""/>
        </xsd:complexType>
    </xsd:element>  
    
    <xsd:element name="mlib:group" type="group">
        <xsd:complexType name="group">
            <dvnlib:creator name="mlib:group"  hint="group">
                <mlib:group  x="" y="" height="400" width="400"/>
            </dvnlib:creator>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="width" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="height" type="mlib:string_or_number" default="100"/>
            <xsd:attribute name="translate-x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="translate-y" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="rotate-x" type="mlib:string_or_number" default="0"/>
            <xsd:attribute name="rotate-y" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="rotate-angle" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="rotate-angle-binding" type="lib:expression" default="0"/>
            <xsd:attribute name="scale" type="mlib:string_or_number" default="0"/> 
            <xsd:attribute name="scale-binding" type="lib:expression" default="0"/>
            <xsd:attribute name="visible-binding" type="lib:expression" default="0"/>
            
            <xsd:attribute name="onclick"  type="dvnlib:event" default=""/>
            <xsd:attribute name="ondblclick" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmouseup" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmousedown" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmousemove" type="dvnlib:event" default=""/> 
            <xsd:attribute name="onmouseout" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmouseover" type="dvnlib:event" default=""/>
            <xsd:attribute name="onmousewheel" type="dvnlib:event" default=""/> 
            
        </xsd:complexType>
    </xsd:element> 
    
 


</xsd:schema>

